.button, .nav_button {
  border: 2px solid $primary;
  border-radius: $borderRadius;
  outline-offset: 3px;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s ease background-color, 0.2s ease color;
  
  &--primary_button {
    background-color: $primary;
    color: $dark;

    &:hover {
      background-color: $primaryAlt;
      color: $text;
    }

    &:disabled {
      background-color: $primaryAlt;
      cursor: not-allowed;
      color: $text;
      &:hover {
        background-color: $primaryAlt;
      }
    }
  }

  &--secondary_button {
    border: 2px solid $primary;
    background-color: $main;

    &:hover {
      background-color: $primary;
      color: $dark;
    }
  }

  &--tertiary_button {
    border: 2px solid $dark;
    background-color: $dark;

    &:hover {
      border-bottom: 2px solid $primary;
    }
  }

  &--success_button {
    border: 2px solid $successBorder;
    background-color: $successBg;

    &:hover {
      background-color: $successBorder;
      color: $dark;
    }
  }

  &--warning_button {
    border: 2px solid $warningBorder;
    background-color: $warningBG;

    &:hover {
      background-color: $warningBorder;
      color: $dark;
    }
  }

  &--danger_button {
    border: 2px solid $errorBorder;
    background-color: $errorBG;

    &:hover {
      background-color: $errorBorder;
      color: $dark;
    }
  }
}

.nav_button {
  height: $headerItemHeight;
  padding: 0 0.8rem;
  width: 100%;
}

.nav_profile_button {
  padding-inline: 0.4rem;
  height: $headerItemHeight;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.4rem;

  background-color: $main;
  border: 2px solid $primary;
  border-radius: $borderRadius;
  outline-offset: 3px;
  cursor: pointer;
  transition: 0.2s ease background-color;


  &:hover {
    background-color: $primaryAlt;
  }

  &:disabled {
    background-color: $primaryAlt;
    cursor: not-allowed;
    &:hover {
      background-color: $primaryAlt;
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-weight: 500;
  }

  img {
    height: 1.8rem!important;
    width: 1.8rem!important;
    border-radius: $borderRadius;
  }
}
