.button {
  border: 2px solid $primary;
  border-radius: $borderRadius;
  outline: none;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  text-transform: uppercase;

  &--primary_button {
    background-color: $primary;

    &:hover {
      background-color: $main;
    }
  }

  &--secondary_button {
    border: 2px solid $primary;
    background-color: $main;

    &:hover {
      background-color: $primary;
    }
  }

  &--alternative_button {
    border: 2px solid $dark;
    background-color: $dark;

    &:hover {
      border-bottom: 2px solid $primary;
    }
  }

  &--success_button {
    border: 2px solid $successBorder;
    background-color: $successBg;

    &:hover {
      background-color: $successBorder;
      color: $dark;
    }
  }

  &--warning_button {
    border: 2px solid $warningBorder;
    background-color: $warningBG;

    &:hover {
      background-color: $warningBorder;
      color: $dark;
    }
  }

  &--error_button {
    border: 2px solid $errorBorder;
    background-color: $errorBG;

    &:hover {
      background-color: $errorBorder;
      color: $dark;
    }
  }
}
