.button {
  border: 2px solid $primary;
  border-radius: $borderRadius;
  outline-offset: 3px;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
  text-transform: uppercase;

  &--primary_button {
    background-color: $primary;

    &:hover {
      background-color: $primaryAlt;
    }

    &:disabled {
      background-color: $primaryAlt;
      cursor: not-allowed;
      &:hover {
        background-color: $primaryAlt;
      }
    }
  }

  &--secondary_button {
    border: 2px solid $primary;
    background-color: $main;

    &:hover {
      background-color: $primary;
    }
  }

  &--tertiary_button {
    border: 2px solid $dark;
    background-color: $dark;

    &:hover {
      border-bottom: 2px solid $primary;
    }
  }

  &--success_button {
    border: 2px solid $successBorder;
    background-color: $successBg;

    &:hover {
      background-color: $successBorder;
      color: $dark;
    }
  }

  &--warning_button {
    border: 2px solid $warningBorder;
    background-color: $warningBG;

    &:hover {
      background-color: $warningBorder;
      color: $dark;
    }
  }

  &--danger_button {
    border: 2px solid $errorBorder;
    background-color: $errorBG;

    &:hover {
      background-color: $errorBorder;
      color: $dark;
    }
  }
}
