// font
$bodyFont: 'Space Grotesk', sans-serif;
$headerFont: 'Clash Display', sans-serif;

// colors
$dark: #121212;
$main: #21242c;
$light: #3a3d4c;
$text: #f2f2f2;
$primary: rgb(86, 131, 255);

// Navbar
$navbarHeight: 5rem;

// border radius
$borderRadius: 0.25em;
