// font
$bodyFont: 'Space Grotesk', sans-serif;
$headerFont: 'Clash Display', sans-serif;

// colors
$dark: #121212;
$main: #21242c;
$light: #3a3d4c;
$text: #f2f2f2;
$primary: rgb(86, 131, 255);
$successBorder: #32ff71;
$successBg: #4f8960;
$warningBorder: #fff532;
$warningBG: #89874f;
$errorBorder: #ff3232;
$errorBG: #894f4f;

// spacing
$spacing-md: 8px;
$spacing-lg: 16px;

// Navbar
$headerHeight: 5rem;
$headerMobileHeight: 3.5rem;

// border radius
$borderRadius: 0.25em;
