// Font
$headerFont: 'Montserrat', sans-serif;
$bodyFont: 'Montserrat', sans-serif;

// Colors
$dark: #121212;
$main: #21242c;
$light: #3a3d4c;
$text: #f2f2f2;
$primary: #5683ff;
$primaryAlt:#21315e;
$successBorder: #32ff71;
$successBg: #4f8960;
$warningBorder: #fff532;
$warningBG: #89874f;
$errorBorder: #ff3232;
$errorBG: #894f4f;

// Breakpoints
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;

// Spacing
$spacing-md: 8px;
$spacing-lg: 16px;

// Navbar
$headerHeight: 5rem;

// Border radius
$borderRadius: 0.25em;

:export {
  breakpoints_sm: $breakpoints-sm;
  breakpoints_md: $breakpoints-md;
  breakpoints_lg: $breakpoints-lg;
  breakpoints_xl: $breakpoints-xl;
  breakpoints_xxl: $breakpoints-xxl;
}