.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image_container {
    background-color: $main;
    border-radius: 100%;
    border: 2px solid $light;
    height: 8rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 6.5rem !important;
      width: 6.5rem !important;
    }
  }
  h2 {
    margin: 0;
  }
}
