.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;

  .image_container {
    background-color: $main;
    border-radius: 100%;
    border: 2px solid $light;
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 6rem !important;
      width: 6rem !important;
      border-radius: 100%;
    }
  }
  p {
    margin: 0;
  }
  h2 {
    margin: 0;
  }
  button {
    margin-top: 1rem;
  }
}
