.container {
  width: 100%;
  min-height: calc(100vh - 2 * $headerHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    font-weight: 700;
    margin-block: 2rem 0;
  }
}
