.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include breakpoint(md) {
    min-height: calc(100vh - 2 * $headerHeight);
  }
}

.landing_page {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    width: 100%;

    .title span {
      color: $primary;
    }

    .buttons {
      display: flex;
      gap: 1rem;
      flex-direction: column;

      button {
        width: 100%;
      }

      @include breakpoint(md) {
        flex-direction: row;
      }
    }
  }

  &__right {
    width: 100%;
    display: none;

    @include breakpoint(md) {
      display: block;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
