.container {
  padding: 0 4rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.landing_page {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    width: 100%;

    .description {
      font-size: 18px;
    }

    .buttons {
      display: flex;
      gap: 1rem;
    }
  }

  &__right {
    width: 100%;
  }
}

.button {
  border: 2px solid $primary;
  outline: none;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  text-transform: uppercase;

  &--primary_button {
    background-color: $primary;

    &:hover {
      background-color: $dark;
    }
  }

  &--secondary_button {
    border: 2px solid $primary;
    background-color: $dark;

    &:hover {
      background-color: $primary;
    }
  }

  &--alt_button {
    border: 2px solid $dark;
    background-color: $dark;

    &:hover {
      border-bottom: 2px solid $primary;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
